<div *ngIf="!isLoading && formGroup">
  <form [formGroup]="formGroup">
    <div *ngFor="let formControlModel of formControlModels">
      <div *ngIf="isControlTypeFileUpload(formControlModel)">
        <mc-form-control-fileupload [formControlModel]="formControlModel"></mc-form-control-fileupload>
      </div>
      <div *ngIf="isControlTypeText(formControlModel)">
        <mc-form-control-text [formControlModel]="formControlModel"></mc-form-control-text>
      </div>
      <div *ngIf="isControlTypeTextArea(formControlModel)">
        <mc-form-control-textarea [formControlModel]="formControlModel"></mc-form-control-textarea>
      </div>
      <div *ngIf="isControlTypeDatepicker(formControlModel)">
        <mc-form-control-datepicker [formControlModel]="formControlModel"></mc-form-control-datepicker>
      </div>
      <div *ngIf="isControlTypeCheckbox(formControlModel)">
        <mc-form-control-checkbox [formControlModel]="formControlModel"></mc-form-control-checkbox>
      </div>
      <div *ngIf="isControlTypeSelect(formControlModel)">
        <mc-form-control-select [formControlModel]="formControlModel"></mc-form-control-select>
      </div>
    </div>
    <ul *ngIf="!hideButtons" class="btn-list clearfix">
      <li>
        <mc-loading-button [class]="'btn btn-danger btn-raised'" [disabled]="formGroup.invalid || disableRegister()" [isLoading]="isRegistering" [title]="registerTitle" [onClick]="registerFunc" ></mc-loading-button>
      </li>
      <li>
        <button type="button" class="btn btn-default btn-raised" (click)="cancel()">Cancel</button>
      </li>
    </ul>
  </form>
</div>
<sk-fading-circle [isRunning]="isLoading" ></sk-fading-circle>