@import '../../sass/conf/conf';
.entity-image-container {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.entity-image-add {
  height: 80px;
  margin-top: 30px;
}
.entity-image {
  height: 140px;
}
.entity-image-name {
  color: $default-text;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entity-image-content {
  color: rgba($default-text, 0.75);
  margin-top: 5px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
