<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="with-scroll table-panel">
      <mc-label-value-table [isLoading]="isLoadingDesign" [labelValues]="labelValues"></mc-label-value-table>
      <ul *ngIf="design && !isLoadingDesign" class="btn-list clearfix">
        <li *ngIf="design.designAsDoc">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadDoc()">Download document</button>
        </li>
        <li *ngIf="design.designAsXml">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadXml()">Download XML</button>
        </li>
        <li *ngIf="showUpdate()">
          <button type="button" class="btn btn-primary btn-raised" (click)="update()">Update Design</button>
        </li>
        <li *ngIf="shouldDisplayDelete()">
          <button type="button" class="btn btn-danger btn-raised" (click)="delete()">Delete Design</button>
        </li>
        <li *ngIf="shouldDisplayEndorsementButton() && !isLoadingInstances">
          <mc-endorse-button [isEndorsedByMyOrg]="isEndorsedByMyOrg" [isEndorsing]="isEndorsing"[title]="'Design'" (onEndorse)="endorseToggle()"></mc-endorse-button>
        </li>
      </ul>
    </ba-card>

    <div *ngIf="endorseMainSwitch">
      <endorsed-by-list [title]="'Organizations endorsing the Design (' + title + ')'" [endorsements]="endorsements" [isLoading]="isLoadingEndorsements"></endorsed-by-list>
    </div>

    <ba-card title="Instances implementing the Design ({{design?.name}})" baCardClass="with-scroll table-panel">
      <div *ngIf="!isLoadingInstances">
        <service-registry-search [showKeywords]="false" [searchTitle]="'Instance search filters'" [searchKey]="searchKey" [isSearching]="isSearchingInstances" [showEndorsement]="true" [preFilterMyOrg]="false" (onSearch)="search($event)"></service-registry-search>

        <div class="separator"></div>
      </div>
      <div class="create-loading-wrapper">
        <mc-create-button [isAdmin]="isServiceAdminForOrg()" *ngIf="!isLoadingInstances" title="Register new Instance" [onClick]="onCreate" ></mc-create-button>
        <sk-fading-circle-small class="create-loading" [isRunning]="isSearchingInstances"></sk-fading-circle-small>
      </div>
      <instances-table [instances]="instances" [isLoading]="isLoadingInstances" [onRowClick]="onGotoInstance"></instances-table>
    </ba-card>
  </div>
</div>
<mc-modal (onCancel)="cancelModal()" (onOk)="deleteForSure()" [show]="showModal" [title]="'Delete Design'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'Cancel'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Delete'"></mc-modal>
<mc-modal (onOk)="cancelModal()" [show]="showModalNoDelete" [title]="'Delete Design'" [description]="modalDescriptionNoDelete" [okClass]="'btn btn-default btn-raised'" [okTitle]="'OK'"></mc-modal>
