@import '../../../../theme/components/mcForm/mcForm.scss';
@import '../../../../theme/components/mcFormControlText/mcFormControlText.scss';
@import '../../../../theme/components/mcFormControlSelect/mcFormControlSelect.scss';

.search-link {
  cursor: pointer;
  color: $content-text;
  &:hover {
    transform: none;
    color: $content-text;
  }
}
.mc-form-control-input-group-btn {
  padding-top: 5px;
}

.search-button {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  &:hover {
    transform: none;
  }
}

.input-group {
  margin-bottom: 0px !important;
}