@import '../../sass/conf/conf';

.btn:hover {
  transform: none !important;
}

.input-group {
  width: 100%;
  margin-bottom: 5px;
}
.file-uploader-wrapper {
  margin-bottom: 15px;
}
.has-error {
  color: $danger;
}
.has-error-input {
  border: 1px solid $danger;
}
.input-uploader {
  color: rgba($default, 0.70);
}
