<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="table-panel">
      <mc-label-value-table [isLoading]="isLoadingInstance" [labelValues]="labelValues"></mc-label-value-table>
      <ul *ngIf="instance && !isLoadingInstance" class="btn-list clearfix">
        <li *ngIf="instance.instanceAsDoc">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadDoc()">Download document</button>
        </li>
        <li *ngIf="instance.instanceAsXml">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadXml()">Download XML</button>
        </li>
        <li *ngIf="shouldDisplayDelete()">
          <button type="button" class="btn btn-danger btn-raised" (click)="delete()">Delete Instance</button>
        </li>
      </ul>
    </ba-card>
  </div>
</div>
<mc-modal (onCancel)="cancelModal()" (onOk)="deleteForSure()" [show]="showModal" [title]="'Delete organization'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'Cancel'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Delete'"></mc-modal>
