<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="with-scroll table-panel">
      <mc-label-value-table [isLoading]="isLoadingInstance" [labelValues]="labelValues"></mc-label-value-table>
      <ul *ngIf="instance && !isLoadingInstance" class="btn-list clearfix">
        <li *ngIf="instance.instanceAsDoc">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadDoc()">Download document</button>
        </li>
        <li *ngIf="instance.instanceAsXml">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadXml()">Download XML</button>
        </li>
        <li *ngIf="showUpdate()">
          <button type="button" class="btn btn-primary btn-raised" (click)="update()">Update Instance</button>
        </li>
        <li *ngIf="showDelete()">
          <button type="button" class="btn btn-danger btn-raised" (click)="delete()">Delete Instance</button>
        </li>
        <li *ngIf="shouldDisplayEndorsementButton() && !isLoadingInstance">
          <mc-endorse-button [isEndorsedByMyOrg]="isEndorsedByMyOrg" [isEndorsing]="isEndorsing" [title]="'Instance'" (onEndorse)="endorseToggle()"></mc-endorse-button>
        </li>
      </ul>
    </ba-card>

    <ba-card title="Coverage Area of {{title}}" baCardClass="with-scroll table-panel">
      <mc-coverage-map *ngIf="instance" [WKTs]="WKTs" [isLoading]="isLoadingInstance">Loading...</mc-coverage-map>
    </ba-card>

    <div *ngIf="shouldDisplayIdService">
      <service-details-view [shouldShowUpdate]="showUpdateIdService" (updateAction)="updateIdService()" [shouldShowDelete]="false" [isLoading]="isLoadingIdService" [title]="titleIdService" [service]="idService"></service-details-view>
    </div>

    <div *ngIf="shouldDisplayCreateButton">
      <ba-card title="{{titleIdService}}" baCardClass="with-scroll table-panel">
        <ul class="btn-list clearfix">
          <li>
            <button type="button" class="btn btn-danger btn-raised" (click)="createIdService()">Create ID Service</button>
          </li>
        </ul>
      </ba-card>
    </div>

    <div *ngIf="endorseMainSwitch">
      <endorsed-by-list [title]="'Organizations endorsing the Instance (' + title + ')'" [endorsements]="endorsements" [isLoading]="isLoadingEndorsements"></endorsed-by-list>
    </div>
  </div>
</div>
<mc-modal (onCancel)="cancelModal()" (onOk)="deleteForSure()" [show]="showModal" [title]="'Delete instance'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'Cancel'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Delete'"></mc-modal>
