<div class="auth-main">
  <div class="auth-block">
    <div class="login-img-wrapper">
      <img src="{{ ( 'maritime_cloud_fullcolor.svg' | baAppPicture ) }}" alt="" title=""/>
    </div>
    <h1>Maritime Cloud Management Portal</h1>
    <div class="auth-sep"><span>A tool for managing the <a href="http://maritimecloud.net/" target="_blank">Maritime Cloud</a> Identity Registry and Service Registry.</span></div>

    <div class="animated fadeIn button-wrapper">
      <button type="button" class="btn btn-primary btn-lg" (click)="logIn()">Log in</button>
      <a style="position: absolute;margin-top: 17px; margin-left: 17px;" href="http://manual.maritimecloud.net" target="_blank">I need help</a>
    </div>
    <div class="auth-sep"><span><a href="/#/apply">Join</a> my organization to the Maritime Cloud.</span></div>
    <br>
    <div class="auth-sep"><span><b>Disclaimer</b>: This is currently a beta release and it should be expected to contain minor bugs.<br>
    If you encounter any bugs please create an Issue at the <a href="https://github.com/MaritimeCloud/MaritimeCloudPortal/issues" target="_blank">GitHub project</a>.</span></div>
    <br>
  <div class="auth-sep auth-funded"><span>The Portal is Co-Funded by<br><a href="http://www.cpse-labs.eu/" target="_blank"><img class="auth-funded-img" src="{{ ( 'cpse-long.png' | baAppPicture ) }}"></a><a href="http://efficiensea2.org/" target="_blank"><img class="auth-funded-img" src="{{ ( 'e2-logo.jpg' | baAppPicture ) }}"></a></span></div>
    <div class="auth-sep auth-funded"><span>v.{{version}}</span></div>
  </div>
</div>
