<div class="row">
  <div class="col-lg-12">
    <ba-card title="Register new Vessel for {{organization.name}}" baCardClass="with-scroll table-panel">
      <div *ngIf="!isLoading">
        <form [formGroup]="registerForm">
          <div *ngFor="let formControlModel of formControlModels">
            <mc-form-control [formControlModel]="formControlModel"></mc-form-control>
          </div>
          <ul class="btn-list clearfix">
            <li>
              <mc-loading-button [class]="registerButtonClass" [disabled]="registerForm.invalid" [isLoading]="isRegistering" [title]="registerTitle" [onClick]="onRegister" ></mc-loading-button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-raised" (click)="cancel()">Cancel</button>
            </li>
          </ul>
        </form>
      </div>
      <sk-fading-circle [isRunning]="isLoading" ></sk-fading-circle>
    </ba-card>
  </div>
</div>
