<div *ngIf="labelValues">
  <table class="table table-no-borders {{tableClass}}">
    <tbody>
      <tr *ngFor="let labelValue of labelValues">
        <td>{{labelValue.label}} :</td>
        <td>
          <div *ngIf="!labelValue.linkFunction" [innerHTML]="labelValue.valueHtml | undefined | sanitizeHtml"></div>
          <a *ngIf="labelValue.linkFunction" class="learn-more" (click)="labelValue.linkFunction(labelValue.linkValue)">{{labelValue.valueHtml | undefined}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<sk-fading-circle [isRunning]="isLoading" ></sk-fading-circle>
<div class="no-data" *ngIf="!labelValues && !isLoading">No data</div>
