@import '../../sass/conf/conf';

.mc-form-control-feedback {
  top: 20px !important;
  right: 10px !important;
}
.mc-form-control-select:read-only {
  cursor: default !important;
  color: $default !important;
}


