<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="with-scroll table-panel">
      <mc-label-value-table [isLoading]="isLoading" [labelValues]="labelValues"></mc-label-value-table>
    </ba-card>

    <div *ngIf="vessel">
        <ba-card title="Certificates for {{title}}" baCardClass="with-scroll table-panel">
            <certificates-table [entityMrn]="vessel.mrn" [isLoading]="isLoading" [certificateTitle]="title" [certificateEntityType]="entityType" [certificates]="vessel.certificates"></certificates-table>
        </ba-card>
    </div>
  </div>
</div>
