<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{titleName}}" baCardClass="with-scroll table-panel">
      <organization-details-table (onLogoLoaded)="logoLoaded()" [isLoading]="isLoading" [organization]="organization"></organization-details-table>
      <ul *ngIf="!isLoading && shouldDisplayUpdate()" class="btn-list clearfix">
        <li *ngIf="shouldDisplayUpdate()">
          <button type="button" class="btn btn-primary btn-raised" (click)="update()">Update Organization</button>
        </li>
      </ul>
    </ba-card>

    <div *ngIf="!isLoading && organization">
      <ba-card title="Certificates for {{organization.name}}" baCardClass="with-scroll table-panel">
        <certificates-table [entityMrn]="organization.mrn" [isLoading]="isLoading" [certificateTitle]="certificateTitle" [certificateEntityType]="entityType" [certificates]="organization.certificates"></certificates-table>
      </ba-card>
    </div>
  </div>
</div>
