<div *ngIf="!isLoading && hasRowData()">
  <table class="table table-hover table-bordered {{tableClass}}">
    <thead>
      <tr class="black-muted-bg">
        <th *ngFor="let header of tableHeaders" class="{{header.class}}" >{{header.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableRow of tableRows; let i = index" (click)="clickedRow(i)" >
        <td *ngFor="let cell of tableRow.cells" class="{{cell.class}}">
          <div *ngIf="!cell.actionButtons" [innerHTML]="cell.valueHtml | undefined | truncate:cell.truncateNumber | sanitizeHtml"></div>
          <div *ngIf="cell.actionButtons">
            <button *ngFor="let actionButton of cell.actionButtons" type="button" class="{{actionButton.buttonClass}}" (click)="clickedButton(actionButton)">{{actionButton.name}}</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<sk-fading-circle [isRunning]="isLoading" ></sk-fading-circle>
<div class="no-data" *ngIf="!hasRowData() && !isLoading">No data</div>

