<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="table-panel">
      <mc-label-value-table [isLoading]="isLoadingSpecification" [labelValues]="labelValues"></mc-label-value-table>
      <ul *ngIf="specification && !isLoadingSpecification" class="btn-list clearfix">
        <li *ngIf="specification.specAsDoc">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadDoc()">Download document</button>
        </li>
        <li *ngIf="specification.specAsXml">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadXml()">Download XML</button>
        </li>
        <li *ngIf="shouldDisplayDelete()">
          <button type="button" class="btn btn-danger btn-raised" (click)="delete()">Delete Specification</button>
        </li>
      </ul>

      <div class="separator"></div>

      <h5>Designs that implements this Specification</h5>
      <designs-table [designs]="designs" [isLoading]="isLoadingDesigns" [onRowClick]="onGotoDesign"></designs-table>
      <mc-create-button *ngIf="!isLoadingDesigns" title="Register new Design" [onClick]="onCreate"></mc-create-button>

      <!-- Doesn't work atm.
      <div class="separator"></div>

      <h5>Instances that implements this Specification</h5>
      <instances-table [instances]="instances" [isLoading]="isLoadingInstances" [onRowClick]="onGotoInstance"></instances-table>
      -->
    </ba-card>
  </div>
</div>
<mc-modal (onCancel)="cancelModal()" (onOk)="deleteForSure()" [show]="showModal" [title]="'Delete organization'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'Cancel'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Delete'"></mc-modal>
