<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="with-scroll table-panel">
      <mc-label-value-table [isLoading]="isLoadingSpecification" [labelValues]="labelValues"></mc-label-value-table>
      <ul *ngIf="specification && !isLoadingSpecification" class="btn-list clearfix">
        <li *ngIf="specification.specAsDoc">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadDoc()">Download document</button>
        </li>
        <li *ngIf="specification.specAsXml">
          <button type="button" class="btn btn-primary btn-raised" (click)="downloadXml()">Download XML</button>
        </li>
        <li *ngIf="shouldDisplayDelete()">
          <button type="button" class="btn btn-danger btn-raised" (click)="delete()">Delete Specification</button>
        </li>
        <li *ngIf="shouldDisplayEndorsementButton()">
          <mc-loading-button [class]="endorseButtonClass" [isLoading]="isEndorsing" [title]="endorseButtonTitle" [onClick]="onEndorse" ></mc-loading-button>
        </li>
      </ul>

      <!-- Doesn't work atm.
      <div class="separator"></div>

      <h5>Instances that implements this Specification</h5>
      <instances-table [instances]="instances" [isLoading]="isLoadingInstances" [onRowClick]="onGotoInstance"></instances-table>
      -->
    </ba-card>
    <ba-card title="Designs implementing this Specification ({{specification?.name}})" baCardClass="with-scroll table-panel">
      <div *ngIf="!isLoadingDesigns">
        <service-registry-search [showKeywords]="false" [searchTitle]="'Design search filters'" [searchKey]="searchKey" [isSearching]="isSearchingDesigns" [showEndorsement]="true" [preFilterMyOrg]="false" (onSearch)="search($event)"></service-registry-search>

        <div class="separator"></div>
      </div>

      <mc-create-button *ngIf="!isLoadingDesigns" title="Register new Design" [onClick]="onCreate"></mc-create-button>
      <designs-table [designs]="designs" [isLoading]="isLoadingDesigns" [onRowClick]="onGotoDesign"></designs-table>
    </ba-card>

    <endorsed-by-list [endorsements]="endorsements" [isLoading]="isLoadingEndorsements"></endorsed-by-list>

  </div>
</div>
<mc-modal (onCancel)="cancelModal()" (onOk)="deleteForSure()" [show]="showModal" [title]="'Delete specification'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'Cancel'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Delete'"></mc-modal>
<mc-modal (onOk)="cancelModal()" [show]="showModalNoDelete" [title]="'Delete specification'" [description]="modalDescriptionNoDelete" [okClass]="'btn btn-default btn-raised'" [okTitle]="'OK'"></mc-modal>
