<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="with-scroll table-panel">
      <mc-label-value-table [isLoading]="isLoading" [labelValues]="labelValues"></mc-label-value-table>
      <ul *ngIf="!isLoading && (showDelete() || showUpdate())" class="btn-list clearfix">
        <li *ngIf="showUpdate()">
          <button type="button" class="btn btn-primary btn-raised" (click)="update()">Update device</button>
        </li>
        <li *ngIf="showDelete()">
          <button type="button" class="btn btn-danger btn-raised" (click)="delete()">Delete device</button>
        </li>
      </ul>
    </ba-card>

    <div *ngIf="device">
      <ba-card title="Certificates for {{title}}" baCardClass="with-scroll table-panel">
        <certificates-table [isAdmin]="isAdmin()" [entityMrn]="device.mrn" [isLoading]="isLoading" [certificateTitle]="title" [certificateEntityType]="entityType" [certificates]="device.certificates"></certificates-table>
      </ba-card>
    </div>
  </div>
</div>
<mc-modal (onCancel)="cancelModal()" (onOk)="deleteForSure()" [show]="showModal" [title]="'Delete device'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'Cancel'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Delete'"></mc-modal>
