<div class="row">
  <div class="col-lg-12">
    <ba-card title="Issue new certificate" baCardClass="with-scroll table-panel">
      <!-- Before issue -->
      <div *ngIf="entityType != null && !certificate && !isLoading">
        <h5>Issuing a new certificate for:</h5>
        <mc-label-value-table [isLoading]="isLoading" [labelValues]="labelValues"></mc-label-value-table>
        <ul *ngIf="entityType != null" class="btn-list clearfix">
          <li>
            <button type="button" class="btn btn-danger btn-raised" (click)="issueNew()">Issue Certificate</button>
          </li>
          <li>
            <button type="button" class="btn btn-default btn-raised" (click)="cancel()">Cancel</button>
          </li>
        </ul>
      </div>

      <sk-fading-circle [isRunning]="isLoading" ></sk-fading-circle>

      <!-- After issue and success -->
      <div *ngIf="certificate">
        Certificate issued with success
        <ul *ngIf="entityType != null" class="btn-list clearfix">
          <li>
            <button type="button" class="btn btn-primary btn-raised" (click)="zipAndDownload()">Download certificate</button>
          </li>
          <li>
            <button type="button" class="btn btn-default btn-raised" (click)="cancel()">OK</button>
          </li>
        </ul>
      </div>
    </ba-card>
  </div>
</div>
