<div class="row">
  <div class="col-lg-12">
    <ba-card title="Issue new certificate" baCardClass="with-scroll table-panel">
      <!-- Before issue -->
      <div *ngIf="entityType != null && !certificateBundle && !isLoading">
        <h5>Issuing a new certificate for:</h5>
        <mc-label-value-table [isLoading]="isLoading" [labelValues]="labelValues"></mc-label-value-table>
        <ul *ngIf="entityType != null" class="btn-list clearfix">
          <li>
            <button type="button" class="btn btn-danger btn-raised" (click)="showChoiceModal()">Issue Certificate</button>
          </li>
          <li>
            <button type="button" class="btn btn-default btn-raised" (click)="cancel()">Cancel</button>
          </li>
        </ul>
      </div>

      <sk-fading-circle [isRunning]="isLoading" ></sk-fading-circle>

      <!-- After issue and success -->
      <div *ngIf="certificateBundle">
        Certificate issued with success
        <ul *ngIf="entityType != null" class="btn-list clearfix">
          <li>
            <button type="button" class="btn btn-primary btn-raised" (click)="zipAndDownload()">Download certificate</button>
          </li>
          <li>
            <button type="button" class="btn btn-default btn-raised" (click)="cancel()">OK</button>
          </li>
        </ul>
      </div>
    </ba-card>
  </div>
</div>
<mc-modal (onCancel)="issueNewServer()" (onOk)="showGenerationModal()" [show]="showIssueModal" [title]="'How do you want to generate your certificate key pair?'" [description]="choiceModalDescription" [cancelClass]="'btn btn-danger btn-raised'" [cancelTitle]="'Server'" [okClass]="'btn btn-success btn-raised'" [okTitle]="'Local'"></mc-modal>
<mc-modal (onCancel)="issueNewLocal(false)" (onOk)="issueNewLocal(true)" [show]="showModal" [title]="'Generate PKCS#12 Keystore?'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'No'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Yes'"></mc-modal>
