<div class="row">
  <div class="col-lg-12">
    <ba-card title="Service Registry - How to?" baCardClass="with-scroll table-panel">
      <h5 style="margin-bottom: 2px;">Guide on how to make services for the Maritime Connectivity Platform - Concepts and how to:</h5>
      <a href="http://maritimeconnectivity.net/docs/Service_Documentation_Guidelines.pdf" class="learn-more" target="_blank">Service Specification Guideline</a>

      <h5 style="margin-bottom: 2px; margin-top: 15px">TEMPLATES:</h5>
      <a href="http://maritimeconnectivity.net/docs/Service_Specification_Template.docx" class="learn-more" target="_blank">Download Specification template</a>
      <BR/>
      <a href="http://maritimeconnectivity.net/docs/Service_Design_Description_Template.docx" class="learn-more" target="_blank">Download Technical Design template</a>
      <BR/>
      <a href="http://maritimeconnectivity.net/docs/Service_Instance_Description_Template.docx" class="learn-more" target="_blank">Download Instance template</a>
      <div *ngIf="xsds && xsds.length>0">
        <h5 style="margin-bottom: 2px; margin-top: 15px">XSDs:</h5>
        <div *ngFor="let xsd of xsds">
          <a (click)="download(xsd)" class="learn-more">Download {{xsd.name}}</a>
          <BR/>
        </div>
      </div>
      <BR/>
      <BR/>
      If you have any questions or comments please use the <a href="https://groups.google.com/forum/#!forum/maritimeconnectivity" class="learn-more" target="_blank">Maritime Connectivity Platform Google Group</a>
    </ba-card>
    <ba-card title="MCP - versions" baCardClass="with-scroll table-panel">
      <mcp-versions-view></mcp-versions-view>
    </ba-card>
  </div>
</div>
