<div class="row">
  <div class="col-lg-12">
    <ba-card title="{{title}}" baCardClass="with-scroll table-panel">
      <mc-label-value-table [isLoading]="isLoading" [labelValues]="labelValues"></mc-label-value-table>
      <ul *ngIf="!isLoading && showDelete() || showUpdate()" class="btn-list clearfix">
        <li *ngIf="organization && showUpdate()">
          <button type="button" class="btn btn-primary btn-raised" (click)="update()">Update user</button>
        </li>
        <li *ngIf="showDelete()">
          <button type="button" class="btn btn-danger btn-raised" (click)="delete()">Delete user</button>
        </li>
      </ul>
    </ba-card>

    <div *ngIf="user">
      <ba-card title="Certificates for {{title}}" baCardClass="with-scroll table-panel">
        <certificates-table [entityMrn]="user?.mrn" [isLoading]="isLoading" [certificateTitle]="title" [certificateEntityType]="entityType" [certificates]="user?.certificates"></certificates-table>
      </ba-card>
    </div>
  </div>
</div>
<mc-modal (onCancel)="cancelModal()" (onOk)="deleteForSure()" [show]="showModal" [title]="'Delete user'" [description]="modalDescription" [cancelClass]="'btn btn-default btn-raised'" [cancelTitle]="'Cancel'" [okClass]="'btn btn-danger btn-raised'" [okTitle]="'Delete'"></mc-modal>
